  body{
      margin: 0;
      padding: 0;
  }
  /* RULES PAGE SECTION*/
  #title{
    font-size: 45px;
    text-align: center;
  }
  #infoBoxDiv{
    text-align: center;
    
  }
  #infoBoxText{
    font-size: 20px;
    text-align: center;
  
  }
  #mainDiv{
    background-color: rgb(58, 159, 205);
  }
